<template>
<div class="footer-section">
        <div class="container footer-container">
            <router-link to="/" class="footer-link-block">
                <img src="../assets/newLogoWhite.svg" class="footer-logo">
                <div>© Pure Exchange LLP 2016</div>
            </router-link>
          <div class="first-over">
            <div class="footer-headers">Policies</div>
            <ul class="footer-lists">
              <li><router-link to="/policies/privacy-policy">Privacy Policy</router-link></li>
              <li><router-link to="/policies/terms-and-conditions">Terms and Conditions</router-link></li>
              <li><router-link to="/policies/return-policy">Return Policy</router-link></li>
              <li><router-link to="/policies/shipping-policy">Shipping Policy</router-link></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Get in Touch</div>
            <ul class="footer-lists">
              <li><router-link to="/epilepsy-outreach">Epilepsy Outreach</router-link></li>
              <li><router-link to="/wholesale">Wholesale Inquiries</router-link></li>
              <li><router-link to="/help-and-feedback">Help and Feedback</router-link></li>
              <li><router-link to="/contact-us">Contact Us</router-link></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Environmental Impact</div>
            <ul class="footer-lists">
              <li><router-link to="/lab-results">Lab Results</router-link></li>
              <li><router-link to="/green-servers">Green Servers</router-link></li>
            </ul>
          </div>
          <div>
            <div class="footer-headers">Shop CBD</div>
            <ul class="footer-lists">
               <li v-if="categories.length == 0">Loading...</li>
               <template v-else>
                 <li v-for="category in categories" :key="category.id"><router-link :to="category.name">{{ category.title }}</router-link></li>
                 </template>
            </ul>
          </div>
        </div>
        <div class="lower-footer-container">
          <div class="footer-headers">Follow Us</div>
          <div class="follow-us-div">
            <a href="https://www.facebook.com/Purecbdexchange/" class="social-link-block"><img src="../assets/facebook.svg" class="social-image"></a>
            <a href="https://www.instagram.com/purecbdexchange/?hl=en" class="social-link-block"><img src="../assets/instagram.svg" class="social-image"></a>
            <a href="https://twitter.com/PureCBDExchange" class="social-link-block"><img src="../assets/twitter.svg" class="social-image"></a>
            <a href="#" class="social-link-block"><img src="../assets/linkedin.svg" class="social-image"></a></div>
          <p class="privacy-text">By using this site, you consent that you are at least 18 years of age and that you have read and understand our <router-link class="privacy-text-links" to="/policies/return-policy">Return Policy</router-link>, <router-link class="privacy-text-links" to="/policies/shipping-policy">Shipping Policy</router-link>, <router-link class="privacy-text-links" to="/policies/privacy-policy">Privacy Policy</router-link>, and <router-link class="privacy-text-links" to="/policies/terms-and-conditions">Terms and Conditions</router-link>.<br><br><span class="bold">FDA Disclosure</span><br>Statements made on this website and other statements made by Pure Exchange LLP have not been evaluated by the FDA. Our products are not intended to diagnose, treat, or cure any disease. Always check with your physician before taking CBD or any other supplement.</p>
        </div>
      </div>
</template>

<script>
import { mapState } from 'vuex'
// import db from '../firebase/firebaseInit'

export default {
  name: 'pure-footer',
  computed: {
    ...mapState([
      'categories'
    ])
  }
}
</script>

<style scoped>
.footer-section {
  display: block;
  color: var(--app-accent-color);
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: var(--app-secondary-color);
  line-height: 1.5em;
    }

a {
  text-decoration: none;
  color: var(--app-accent-color);
      }

a:hover {
  text-decoration: underline;
  color: var(--app-third-color);
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  font-size: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
        }

.footer-link-block {
  max-width: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
        }

.footer-logo {
  width: 160px;
  margin-bottom: 10px;
        }

.first-over {
  padding-top: 0px;
  padding-left: 80px;
        }

.footer-headers {
  font-size: 1.05rem;
  font-weight: 700;
        }

.footer-lists {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 1em;
  padding: 0;
  padding-left: 0;
  list-style: none;
        }

.lower-footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
      }

.follow-us-div {
  padding-top: 15px;
  padding-bottom: 30px;
      }

.social-link-block {
  max-width: 100%;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
      }

.social-image {
  width: 25px;
      }

.privacy-text {
  font-size: 0.8em;
  line-height: 1.3em;
      }

a.privacy-text-links {
  color: var(--app-third-color);
      }

@media (max-width: 812px) {

.footer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
          }

.first-over {
  padding-left: 0;
          }

.lower-footer-container {
  padding-right: 15px;
  padding-left: 15px;
          }

.footer-link-block {
  width: 100%;
          }
      }
</style>

