<template>
  <div class="container">
    <h1>Privacy <span class="bold">Policy</span></h1>

    <h3>What do we do with your information?</h3>

    <p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us, such as your name, address, and email address.</p>

    <p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>

    <p>With regards to email marketing: With your permission, we may send you emails about our store, new products and other updates.</p>

    <h3>Consent</h3>

    <p class="bold">How do you obtain my consent?</p>

    <p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>

    <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. Futhermore, by using our website, you consent to a few basic operating procedures of our store and website, such as our <router-link to="/policies/return-policy">Return Policy</router-link> and <router-link to="/policies/privacy-policy">Privacy Policy</router-link> By using our site, you also consent that you are at least 18 years of age.</p>

    <p class="bold">How do I withdraw my consent?</p>

    <p>You may withdraw your consent at any time by contacting us via any of the forms on our website.</p>

    <h3>Third Party Services</h3>

    <p>In general, the third-party providers used by us will only collect, use, and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>

    <p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>

    <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>

    <p>In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>

    <p>Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s <router-link to="/policies/terms-and-conditions">Terms and Conditions</router-link> of Service.</p>

    <h3>Links</h3>

    <p>This site recognizes and collects, when possible, the domain name of a visitor's server (for example, <router-link to="/">purecbdexchange.com</router-link> or google.com). We do not automatically collect full email addresses of visitors to our website. The only way we obtain your name or email address is when you choose to provide this information to us. Examples of how you might provide us with such personal information include:</p>

    <ul>
      <li>Completing a survey or feedback form</li>
      <li>Emailing us with a comment or question</li>
      <li>Subscribing to email newsletters</li>
      <li>Contacting customer support</li>
    </ul>

    <p>We use Google Universal Analytics to collect website data that allows us to get a better understanding of how our site visitors interact with our online content. If you do nothing during your visit but browse through the website or download information, Google Universal Analytics will automatically gather and store certain information about your visit. This information does not identify you personally and is used in a general way to help us improve our website and tell us the number of visitors to our site each day.</p>

    <p>Our web server automatically collects and records the following information:</p>

    <ul>
        <li>Aggregate information on what pages are accessed</li>
        <li>Address of the website that linked to us (referral URL)</li>
        <li>Date and time you access our site</li>      <li>Name and release number of web browser software used</li>
        <li>Operating system used</li>
        <li>Visitor's domain name, but not the email address</li>
        <li>Visitor's IP address</li>
        <li>Age, gender, and interests</li>
    </ul>

    <p>In addition to Google Analytics, we also use a tool known as Inspeclet to review qualitative website visitor data. Much like Google Analytics, Inspeclet keeps data collected from visitors anonymous and the data collected is only used to improve your website experience. We also use Google Tag Manager to collect analytics data about internal link clicks and other website properties.</p>

    <h3>Security</h3>

    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</p>

    <h3>Ageo of Consent</h3>

    <p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>

    <h3>Changes to This Privacy Policy</h3>

    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>

    <h3>Questions, Contact Information, or Wishes to Have Your Information Removed from Our Records</h3>

    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information, please submit a contact form from any of the contact forms on our website or email us at <a href="mailto:support@purecbdexchange.com?subject:Privacy Policy Concern" target="_blank">support@purecbdexchange.com</a>.</p>
  </div>
</template>

 <script>
  export default {
    name: 'privacy-policy'
  }
  </script>
