<template>
  <div class="container">
    <div class="w-clearfix">
      <div class="_60block" data-ix="tile-1">
        <router-link class="hero-tile w-inline-block" to="/what-is-cbd">
          <div class="tile-image">
            <h1 class="special tile-text">What is<br>CBD?</h1>
          </div>
        </router-link>
      </div>
      <div class="_40block" data-ix="tile-3">
        <div class="hero-tile">
          <router-link class="tile-link w-inline-block" to="/shop-cbd">
            <div class="products tile-image">
              <h1 class="special tile-text">Shop <br>CBD</h1>
            </div>
          </router-link>
        </div>
      </div>
      <div class="_33block" data-ix="tile-2">
        <router-link class="hero-tile w-inline-block" to="/epilepsy-outreach">
          <div class="contact-us tile-image">
            <h1 class="special tile-text">Epilepsy Outreach</h1>
          </div>
        </router-link>
      </div>
      <div class="_33block" data-ix="tile-3">
        <div class="hero-tile">
          <router-link class="tile-link w-inline-block" to="the-smokeroom">
            <div class="smokeroom tile-image">
              <h1 class="special tile-text">The <br>Smokeroom</h1>
            </div>
          </router-link>
        </div>
      </div>
      <div class="_33block" data-ix="tile-4">
        <div class="div-block-3 w-clearfix">
          <a class="social-block w-inline-block" href="https://twitter.com/PureCBDExchange"></a>
          <a class="facebook social-block w-inline-block" href="https://www.facebook.com/Purecbdexchange/" target="_blank" rel="noopener"></a>
          <a class="linkedin social-block w-inline-block" href="#"></a>
          <a class="instagram social-block w-inline-block" href="https://www.instagram.com/purecbdexchange/" target="_blank" rel="noopener"></a></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
        }

.w-inline-block {
  max-width: 100%;
  display: inline-block;
        }

._60block {
  width: 58%;
  height: 300px;
  padding: 5px;
  float: left;
        }

._40block {
  position: relative;
  width: 39%;
  height: 300px;
  padding: 5px;
  float: left;
        }

._33block {
  width: 32%;
  height: 300px;
  padding: 5px;
  float: left;
        }

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  border-radius: 0px;
  background-image: url('../assets/Hemp-in-Greenhouse.jpg');
  background-position: 50% 95%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
        }

.tile-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
        }

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  margin-bottom: 20px;
  color: #fff;
  font-size: 32px;
  line-height: 30px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .65);
        }

.tile-text.special {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
        }

.div-block-3 {
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        }

.social-block {
  width: 50%;
  height: 150px;
  float: left;
  background-color: #55acee;
  background-image: url('../assets/twitter.svg');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #3765a3;
  background-image: url('../assets/facebook.svg');
  background-size: 50px;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.linkedin {
  background-color: #1884bb;
  background-image: url('../assets/linkedin.svg');
  background-size: 50px;
}

.social-block.linkedin:hover {
  background-color: #136792;
}

.social-block.instagram {
  display: inline-block;
  background-color: #e04c86;
  background-image: url('../assets/instagram.svg');
  background-size: 50px;
}

.social-block.instagram:hover {
  background-color: #c02c67;
}

.tile-image.products {
  background-image: url('../assets/IMG_1942-01.jpg');
  background-position: 70% 50%;
  background-size: cover;
}

.tile-image.contact-us {
  background-image: url('../assets/D-and-Q.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.tile-image.smokeroom {
  background-image: url('../assets/Smoke.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 1040px) {
._60block {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
}

._40block {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

._33block {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
    </style>
