<template>
<div class="container">
    <h1>Shop <span class="bold">CBD</span></h1>

    <div class="grid">
        <div class="center shadow cover center-grid" v-for="(category, index) in categories" :key="category.id" :style="{'grid-area': 'grid' + index}" :class="'grid-area' + index">
            <router-link class="center" :to="category.name">
                <h2 class="bold">{{ category.title }}</h2>
                <p class="description-box center">
                    {{ category.description }}
                </p>
            <router-link :to="category.name">
                <button>Shop <span class="bold">Now</span></button>
            </router-link>
        </router-link>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'shop-cbd',
  computed: {
    ...mapState([
      'categories'
    ])
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}

.grid {
    display: grid;
    grid-template-rows: 50vh 50vh 35vh 50vh 50vh;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4vh;
    grid-template-areas: 
        "grid0 grid0"
        "grid1 grid2"
        "grid3 grid3"
        "grid4 grid5"
        "grid6 grid6";
}

.center-grid {
    display: grid;
}

.cover {
    width: 90%;
    height: 100%;
}

.center {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.shadow {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
}

.description-box {
    max-width: 625px;
    padding-left: 10px;
    padding-right: 10px;

}

.grid-area1 {
    margin-left: 4vw;
    margin-right: 4vw;
}

@media (max-width: 812px) {

}


/* 
      .container {
        margin-right: auto;
        margin-left: auto;
        max-width: 940px;
        position: relative;
        font-size: 1.15em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .top-box {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 450px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/rotate.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/rotate.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
      }

      .slim-box {
        margin-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 300px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/wholesale.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/wholesale.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
      }

      .max-width-p {
        max-width: 600px;
        padding-left: 10px !important;
        padding-right: 10px;
      }

      .center {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      .lower-boxes {
        margin-top: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 500px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .25)), url('../images/wholesale.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .25)), url('../images/wholesale.jpg');
        background-position: 50% 55%;
        background-size: cover;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
        width: 43%;
        margin-top: 50px;
        margin-right: 25px;
        margin-left: 25px;
      }

      .dog {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/dog.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/dog.jpg');
      }

      .vape {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/vape.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .15), hsla(0, 0%, 100%, .95)), url('../images/vape.jpg');
      }

      .lotion {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/lotion.jpg');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .95)), url('../images/lotion.jpg');
      }

      .concentrates {
        background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/concentrates.JPG');
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .45), hsla(0, 0%, 100%, .95)), url('../images/concentrates.JPG');
      }

      @media (max-width: 812px) {

        :host {
            padding: 5px 0 35px 0;
        }

        .top-box {
          margin-right: 10px;
          margin-left: 10px;
        }

        h1 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .slim-box {
            height: 350px;
        }

        .lower-boxes {
            height: 450px;
              width: 100%;
              margin-right: 15px;
              margin-left: 15px;
          }
      } */

    </style>


