<template>
  <div>
    <h1>The Smokeroom</h1>
  </div>
</template>

<script>
export default {
  name: 'the-smokeroom'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
