<template>
  <div id="app">
    <header>
      <span>Pure CBD Exchange</span>
    </header>
    <main>
      <div>
      <ul>
        <li>
          <router-link to='/'>Home</router-link>
        </li>
        <li>
          <router-link to='/what-is-cbd'>What Is CBD?</router-link>
        </li>
        <li>
          <router-link to='/shop-cbd'>Shop CBD</router-link>
        </li>
        <li v-if="categories.length == 0">Loading...</li>
          <template v-else>
            <li v-for="category in categories" :key="category.id"><router-link :to="category.name">{{ category.title }}</router-link></li>
            </template>
            <li>
              <router-link to='/my-account'>My Account</router-link>
            </li>
            <li>
              <router-link to='/cart'>Cart</router-link>
            </li>
            <li>
              <router-link to='/help'>Help and Feedback</router-link>
            </li>
      </ul>
      </div>
      <!-- <transition
      mode="in-out"
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"> -->
        <router-view></router-view>
      <!-- </transition> -->
    <pure-footer></pure-footer>
    </main>
  </div>
</template>

<script>
// import db from './firebase/firebaseInit'
import { mapState } from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState([
      'categories'
    ])
  },
  created () {
    this.$store.dispatch('computeCategories')
  }
}
</script>

<style>
@font-face {
  font-family: 'Mukta Malar', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Mukta+Malar:400,600,800');
  font-display: block;
}

body {
  margin: 0;
  padding: 0
}

#app {
  display: block;
  position: relative;
  font-family: 'Mukta Malar', sans-serif;
  --app-primary-color: #004a00;
  --app-secondary-color: #2a2a2a;
  --app-accent-color: #eee;
  --app-third-color: #25ac6a;
  --paper-button-ink-color: var(--app-accent-color);
  --paper-icon-button-ink-color: var(--app-accent-color);
  --paper-spinner-color: var(--app-accent-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--app-secondary-color);
      }

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  position: relative;
  font-size: 1.15em;
  line-height: 1.4rem;
  padding-top: 10px; 
  padding-bottom: 25px; 
  padding-right: 15px; 
  padding-left: 15px;
      }

h1 {
  font-size: 45px;
  font-weight: 500;
  line-height: 115%;
  margin-top: 45px;
      }

 h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 115%;
  padding-top: 15px;
  margin: 0;
      }      

h3 {
  line-height: 115%;
      }

a {
  color: var(--app-primary-color);
      }

.bold {
  font-weight: 800;
      }
</style>
